@font-face {
  font-family: 'Simonetta';
    src:  url('../fonts/Simonetta.ttf.woff') format('woff'),
    url('../fonts/Simonetta.ttf.svg#Simonetta') format('svg'),
    url('../fonts/Simonetta.ttf.eot'),
    url('../fonts/Simonetta.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'Simonetta';
}

.board {
  margin: 10px 0;
}

p.status-icon {
  position: absolute;
  font-size: 40px;
}

p.status-icon.wrong {
  color: red;
}

p.status-icon.right {
  color: green;
}

.problem-nav {
  margin-top: 5px;
}

p.problem-text {
  margin-top: 5px;
  font-size: 19px;
}

.navbar-default
{
    border:none;
    background-color:transparent;
}

li a span {
    border-bottom:2xp solid rgba(0,0,0,0.25);
}

.navbar-header
{
    background-image: url(../graphics/logo.png);
    background-repeat:no-repeat;
    width: 263px;
    height:116px;
    margin-top:25px;
}

.navbar-brand
{
    visibility:hidden;
}

.navbar-nav
{
    padding-top:70px;
    margin-left:30px;
}

.navbar-nav:before
{
    width:150px;
    position:relative;
    left:-150px;
    top:31px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.navbar-nav li
{
    background-color:white;
}

.navbar-default .navbar-nav>.active>a
{
    background:transparent;
    background-image:url(../graphics/highlight.png);
    background-repeat:no-repeat;
    background-position:bottom right;

    padding:8px 15px;
    border-bottom:none;
}

.navbar-default .navbar-nav>.active>a:focus
{
    background:#e0b862;
    background-image:url(../graphics/highlight.png);
    background-repeat:no-repeat;
    background-position:bottom right;
    color:#000000;
}

.navbar-default .navbar-nav>.active>a:hover
{
    background:transparent;
    background-image:url(../graphics/highlight.png);
    background-repeat:no-repeat;
    background-position:bottom right;
    color:#e0b862;
}

.navbar-default .navbar-nav>li>a
{
    padding:8px 15px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    padding-bottom:1px;
}

.navbar-default .navbar-nav>li>a:focus
{

}

.navbar-default .navbar-nav>li>a:hover
{
    background:transparent;
    color:#e0b862;
}

.content
{
    padding:10px 75px;
    padding-right:275px;
    font-size:16px;
}

.justify
{
    text-align: justify;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.btn-header
{
    display:block;
    text-align:left;
    font-size:24px;
}

.btn-subtext
{
    display:block;
    text-align:left;
    white-space:normal;
}

.flow-left
{
    float:right;
    padding-right:0px;
    padding-top:4px;
    padding-left:25px;
    padding-bottom:10px;
}

.flow-right
{
    float:left;
    padding-left:0px;
    padding-top:4px;
    padding-right:25px;
    padding-bottom:10px;
}

@media(max-width:992px)
{
    .navbar-nav
    {
        padding-top:0px;
        margin-top:30px;
        margin-left:-15px;
    }

    .navbar-nav:before
    {
        display:none;
    }

    .content
    {
        padding:0px;
        padding-top:10px;
    }

}

@media(max-width:767px)
{
    .navbar-nav
    {
        padding-top:0px;
        margin-top:30px;
        margin-left:-15px;
    }

    .navbar-nav:before
    {
        display:none;
    }


    .navbar-default .navbar-nav>.active>a
    {
        background:#e0b862;
        background-image:url(../graphics/highlight.png);
        background-repeat:no-repeat;
        background-position:bottom right;
        color:black;
        padding:7px 15px;
        border-bottom:none;
        margin-bottom:-5px;
        z-index:9;
    }

    .navbar-default .navbar-nav>.active>a:hover
    {
        background:#e0b862;
        background-image:url(../graphics/highlight.png);
        background-repeat:no-repeat;
        background-position:bottom right;
        color:black;
    }

    .navbar-default .navbar-nav>li>a
    {
        padding:8px 15px;
        border-bottom: 2px solid rgba(0,0,0,0.1);
        padding-bottom:1px;
        background-color:white;
        z-index:1;
    }

    .navbar-default .navbar-nav>li>a:focus
    {

    }

    .navbar-default .navbar-nav>li>a:hover
    {
        background:transparent;
        color:#e0b862;
    }

    .content
    {
        padding:0px;
    }

    .btn
    {
        margin-top:30px;
        margin-bottom:30px;
    }


    .flow-left
    {
        float:none;
        padding:20px 0px;
        width:100%;
    }

    .flow-right
    {
        float:none;
        padding:20px 0px;
        width:100%;
    }
}

.glyphicon
{
    margin-right:5px;
}

.btn-wood
{
    background-color:#e0b862;
    background-image:url(../graphics/wood_texture.jpg);
    background-size:100%;
    border:1px solid rgba(0,0,0,0.25);
    color:black;
}

.btn-wood:hover
{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.attention {
  animation: pulse 10s infinite;
}

@keyframes pulse {
  0% { transform: rotate(0deg); }

  16% { transform: rotate(0deg); }
  20% { transform: rotate(5deg) scale(1.2); }
  21% { transform: rotate(-3deg) scale(1.2); }
  22% { transform: rotate(12deg) scale(1.2); }
  23% { transform: rotate(-7deg) scale(1.2); }
  24% { transform: rotate(14deg) scale(1.2); }
  25% { transform: rotate(-4deg) scale(1.2); }
  26% { transform: rotate(8deg) scale(1.2); }
  28% { transform: rotate(8deg) scale(1.2); }

  30% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
