.board {
  margin: 10px 0;
}

p.status-icon {
  position: absolute;
  margin-left: 360px;
  font-size: 40px;
}

p.status-icon.wrong {
  color: red;
}

p.status-icon.right {
  color: green;
}

.problem-nav {
  margin-top: 5px;
}

p.problem-text {
  margin-top: 5px;
  font-size: 17px;
}
